@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-2 offset-5">
        @if (TempData["Message"] != null)
        {
            <span class="alert alert-success">@TempData["Message"]</span>

        }
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
