
@{ 
    Layout = "_MemberLayout";
}


<div class="row mt-5">
    <div class="col-md-6 offset-3">
        <h3 class="display-3 text-danger text-center">Access Denied</h3>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-6 offset-3">
        <h3 class="text-dark text-center">You don't have permission to access this page!</h3>
    </div>
</div>
