@model PasswordChangeViewModel

@{
    ViewData["Title"] = "PasswordChange";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}




<div class="row">
    <h6 class="display-3 text-center text-primary">Password Changing</h6>
</div>
<hr />



@if (TempData["Message"] != null)
{
    <div class="row mt-3">
        <span class="alert alert-success text-center">@TempData["Message"]</span>
    </div>
}
else
{
    <div class="row mt-5">
        <div class="col-md-4 offset-4">
            <form asp-action="PasswordChange">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Old Password</label>
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">New Password</label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">New Password Confirm</label>
                    <input asp-for="PasswordConfirm" class="form-control" />
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary">Change</button>
                </div>
            </form>
        </div>
    </div>
}


