@model RegisterViewModel



<div class="row mt-5">
    <div class="col-2 offset-5">
        @if (TempData["Message"] != null)
        {
            <span class="alert alert-danger">@TempData["Message"]</span>

        }
    </div>
</div>

<div class="row mt-5">
    <h6 class="display-2 text-center text-primary">User Registration</h6>
</div>

<div class="row mt-5">
    <div class="col-6 offset-3">
        <form asp-action="Register" method="post" class="w-50 mx-lg-auto" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="form-label">Username</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Email Address</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label">City</label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Birth Date</label>
                <input asp-for="BirthDate" class="form-control" />
            </div>
            <div class="form-group">
                <label class="form-label">Gender</label>
                <select class="form-control" asp-for="Gender" asp-items="@ViewBag.Gender"></select>
            </div>
            <div class="form-group">
                <label class="form-label">Picture</label>
                <input type="file" asp-for="Picture" class="form-control-file" name="userPicture" />
            </div>
            <div class="form-group">
                <label class="form-label">Password</label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>
